table, th, td {
  border: 2px solid #292828;
  border-collapse: collapse;
}

th, td {
  width: 25%;
  background-color: #96D4D4;
}

table {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  height: 700px;
  width: 100%;
}

th {
  height: 25px;
  font-weight: bold;
  padding: 8px;
}

p, li{
  font-weight: normal;
}

li{
  padding-top: 5px;
  padding-right: 30px;
}

img {
  width: 100%;
  height: auto;
}



